/* .card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcf9eb;
} */

.card__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* flex: 0 0 25%; */
  height: 100%;
  /* padding: 2rem; */
  background-color: #fff;
  overflow: hidden;
  border-radius: var(--radius-md);
  border: 1.5px solid var(--color-button);
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__img img {
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.card__img img:hover {
  transition: var(--transition);
  transform: scale(var(--transform-scale));
}

.card__content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: 1.5rem;
  padding: 1.2rem 1.6rem;
  flex: 1;
  justify-content: space-between;
}

.card__content .card__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card__header .card__category {
  border: 0.1rem solid var(--color-button);
  border-radius: var(--radius-md);
  padding: 0.6rem 1.2rem;
}

.card__header .card__category span {
  color: var(--color-price);
  font-size: 1.4rem;
  font-weight: 500;
}

.card__header .card__rating {
  align-content: center;
}

.card__header .card__rating span {
  font-size: 1.4rem;
  font-weight: 500;
}

.card__header .card__rating i {
  font-size: 1.4rem;
  color: #f39c12;
}

.card__content .card__name {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-button);
  display: -webkit-box;
  -webkit-line-clamp: 2; /* tối đa 2 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 4.8rem;
  line-height: 1.25;
}

.card__content .card__desc {
  text-align: start;
  font-size: 1.35rem;
  color: #888;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.6;
  min-height: 4rem;
}

.card__content .card__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card__footer .card__footer--left {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.card__footer .card__price {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-price);
}

.card__footer .card__price--old {
  text-decoration: line-through;
  font-size: 1.8rem;
  font-weight: 600;
  color: #0000004d;
}

.card__footer .card__price--new {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-price);
}

.card__footer .card__favorite {
  /* border: 1px solid var(--color-heart); */
  border-radius: 50%;
  padding: 0.3rem 0.3rem;
  cursor: pointer;
}

.card__footer .card__favorite i {
  font-size: 2.4rem;
  color: var(--color-heart);
}

.card__footer .card__favorite i:hover {
  transition: var(--transition);
  transform: scale(var(--transform-scale));
}
